* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

:root {
    /* COLORS */
    --primary-base: light-dark(#433de6, #808ef9);
    --primary-hover: light-dark(#6167f3, #6167f3);
    --neutral-surface: light-dark(#f6f7f9, #22262f);
    --neutral-border: light-dark(#8495ac, #506079);
    --neutral-text: light-dark(#506079, #c4cedb);
    --neutral-heading: light-dark(#394353,#d5dae2);
    --system-error: light-dark(#ff2056,#ff698a);
    --base-black: light-dark(#0e0e0e,#fefefe);
    --base-white: light-dark(#fefefe,#0e0e0e);
    color-scheme: light dark;
}

body {
    background: linear-gradient(90deg, var(--primary-base) 0%, var(--primary-hover) 100%);
    font-family: "Roboto", serif;
    color: var(--neutral-text);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-form-cadastro {
    background-color: var(--neutral-surface);
    height: 100%;
    width: 656px;
    padding: 96px;
}

.container-formulario {
    background-color: var(--neutral-surface);
    width: 600px;
    height: 658px;
    padding: 96px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cabecalho {
    font-family: "Readex Pro", serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--neutral-heading);
    margin-bottom: 32px;
}

.linha-cabecalho {
    font-size: 16px;
    font-weight: 400;
}

form input {
    padding: 12px 16px;
    background-color: var(--base-white);
    border: solid 1px var(--neutral-border);
    border-radius: 4px;
    width: 100%;
    outline-color: var(--primary-base);
}

form input:user-invalid {
    border: solid 2px var(--system-error);

}

form button {
    appearance: none;
    border: 0;
    background-color: var(--primary-base);
    padding: 12px 16px;
    width: 100%;
    color: var(--base-white);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-hover);
}

form label {
    margin-bottom: 8px;
    display: block;
}

.controle-formulario {
    margin-bottom: 16px;
}

.inscreva-se {
    color: var(--primary-base);
    text-decoration: none;
    font-weight: bold;
}

.inscreva-se:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.controle-checkbox {
    display: flex;
    gap: 8px;
    align-items: start;
    justify-content: start;
}

.controle-checkbox input {
    width: fit-content;
}


.teste input {
    accent-color: var(--primary-base);
}