*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}



body{
    background: linear-gradient(90deg, #433de6 0%, #6167f3 100%);
    font-family: "Roboto", serif;
    color: #506079;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container-form-cadastro{
    background-color: #FEFEFE;
    height: 100%;
    width: 656px;
    padding: 96px;
}
.container-formulario{
    background-color:  #FEFEFE;
    width: 600px;
    height: 658px;
    padding: 96px;
    border-radius:4px;
    display:flex;
    flex-direction: column;
    gap:32px;
}
.cabecalho{
    font-family: "Readex Pro", serif;
    font-size: 24px;
    font-weight: bold;
    color: #394353;
    margin-bottom: 32px;
}
.linha-cabecalho{
    font-size: 16px;
    font-weight: 400;
}
form input{
    padding: 12px 16px;
    background-color: #FEFEFE;
    border: solid 1px #8495AC;
    border-radius:4px;
    width: 100%;
    outline-color:#433DE6;
}
form input:user-invalid{
    border: solid 2px #FF2056;
    
}
form button{
    appearance: none;
    border: 0;
    background-color:#433DE6;
    padding: 12px 16px;
    width: 100%;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor:pointer;
}
form button:hover{
  background-color: #695ef6;
}
form label{
    margin-bottom: 8px;
    display: block;
}
.controle-formulario{
    margin-bottom: 16px;
}
.inscreva-se{
    color: #433DE6;
    text-decoration: none;
    font-weight: bold;
}
.inscreva-se:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.controle-checkbox{
    display: flex;
    gap: 8px;
    align-items: start;
    justify-content: start;
}
.controle-checkbox input{
    width: fit-content;
}